{% extends "base.html" %}

{% load static %}
{% static "images" as baseUrl %}

{% block content %}

    <h3 class="py-4" style="text-align: center;">Welcome to TechHD Covid19 website!</h5>

    <div class="card mt-3 mb-5">
        <h5 class="py-4" style="text-align: center; border-bottom: 1px solid rgba(255, 255, 255, 0.15);">What is TechHD for?</h5>
        <div class="card-content" >
            <div class="row row-group m-0 d-flex">
                <p class="my-3 mx-3">
                    Here we have tried to help the government make informed decisions around epidemiological and vaccine supply circumstances by predicting the more important segments of our country that need to be catered with vaccine deliveries as prior as possible.
                </p>
            </div>
        </div>
    </div>


    <div class="card mt-3 mb-5">
        <h5 class="py-4" style="text-align: center; border-bottom: 1px solid rgba(255, 255, 255, 0.15);">How it works?</h5>
        <div class="card-content" >
            <div class="row row-group m-0 d-flex">
                <p class="my-3 mx-3">
                    <ul>
                        <li>
                            We went through various census report estimates, WHO reports, and other state websites to fetch and combine all these data features and made our datasets.
                        </li>
                        <li>
                            We then add and update the data daily with the number of covid cases in each state and carry out our ML algorithms.
                        </li>
                        <li>
                            And hence we ended up with the following features that we used for batch predictions:
                            <ol>
                                <li>
                                    Active Cases (<a href="https://www.covid19india.org">covid19india.org</a> website APIs)
                                </li>
                                <li>
                                    Population density (estimated: since the census is done every 10 years(2021 next))
                                </li>
                                <li>
                                    Death rate (no.of deaths/total confirmed cases x100)
                                </li>
                                <li>
                                    Heath Workers Present in the State (WHO reports)
                                </li>
                                <li>
                                    Senior Citizens(60+)
                                </li>
                                <li>
                                    Children(0-14yrs)
                                </li>
                                <li>
                                    Allotted Hospital Beds for Covid Patients in each state
                                </li>
                                <li>
                                    Accessibility of each state( based on National Highways lengths and connections within the state
                                </li>
                            </ol>
                        </li>
                        <li>
                            We then run our ML clustering algorithms through all the features and load them into our ranking algorithms (considering several metrics and features)  to figure out the Importance and urgency of vaccine deliveries in each state.
                        </li>
                        <li>
                            Our datasets are automatically updated daily to accommodate and make the predictions based on the latest information regarding the number of active covid cases of each state.
                        </li>
                        <li>
                            For more info about prediction analysis procedure: <a href="https://drive.google.com/file/d/1vnI6VuDABLq0wU8IPg-edRxyxkBWHeVn/view?usp=sharing" style="color: cyan;"" target="_blank">Click Here</a>
                            <!-- For more info about prediction analysis procedure: <a href="{{ MEDIA_URL }}pdf/Prediction_Analysis_Procedure.pdf" style="color: cyan;"" target="_blank">Click Here</a> -->
                                <!-- 
                                NOTE: the above media_url don't work when debug=False in settings
                                https://stackoverflow.com/questions/44555187/django-media-files-not-showing-with-debug-false-on-production-django-1-10
                                -->
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>


    <div class="card mt-3 mb-5">
        <h5 class="py-4" style="text-align: center; border-bottom: 1px solid rgba(255, 255, 255, 0.15);">What can you find on this website?</h5>
        <div class="card-content" >
            <div class="row row-group m-0 d-flex">
                <div class="my-3 mx-3 py-3" style="border-bottom: 1px solid rgba(255, 255, 255, 0.15)";>
                    <a href="https://techhd.herokuapp.com/"><strong style="color: skyblue ;">HomePage:</strong><br></a>
                    <ul>
                        <li>
                            The Table shows information about various states and their corresponding Batch Number, i.e., the state’s priority level. 
                        </li>
                        <li>
                            For example, if Maharashtra and Kerala are in batch no. 1, then the first lot of vaccine deliveries should be delivered to those states. And then the remaining states in Batch number 2 and so on.
                        </li>
                    </ul>
                </div>

                <div class="my-3 mx-3" style="border-bottom: 1px solid rgba(255, 255, 255, 0.15)";>
                    <a href="https://techhd.herokuapp.com/district_level"><strong style="color:skyblue ;">District Page:</strong><br></a> 
                    <ul>
                        <li>
                            This Page provides us further segmentation of each state into various batches(priority sections) as predicted by our powerful ML algorithms.
                        </li>
                        <li>
                            This would provide further assistance to the State Government as well in delivering the Vaccines with the state.
                        </li>
                    </ul>
                </div>
                
                <div class="my-3 mx-3">
                    <a href="https://techhd.herokuapp.com/batch/1"><strong style="color: skyblue ;">Batch Page:</strong><br></a>
                    <ul>
                        <li>
                            This Page gives the batch-wise analysis and indicates the further percentage distribution of vaccines to each state in a particular batch.
                        </li>
                        <li>
                            For a particular Batch, the percentage column in the table indicates the percentage of the “vaccine-supplies” distributed among each state in that batch.
                        </li>
                        <li >
                            For example, In the batch 1 table, we see Maharashtra and Kerala and their 30% and 70% percentages. This predicts that while delivering the first lot, 70% of the total vaccine supplies to be delivered to Kerala and the remaining 30% of that lot to Maharashtra.
                        </li>
                        <li>
                            The Percentage Values in each batch have been predicted based on their priority value given by our ranking algorithm.
                        </li>
                        <li>
                            We formulated the ranking Algorithm by considering various factors(shown above) and then using the proper weighing system for each aspect.
                        </li>
                    </ul>
                </div>

                
            </div>
        </div>
    </div>

    <div class="card mt-3 mb-5">
        <h5 class="py-4" style="text-align: center; border-bottom: 1px solid rgba(255, 255, 255, 0.15);">Note to the reader:</h5>
        <div class="card-content" >
            <div class="row row-group m-0 d-flex">
                <p class="my-3 mx-3">
                    Our ML and AI algorithms’ predictions are made by considering various factors, such as the estimated population datasets, India Census surveys and trends, the Number of Active Cases each day from trusted websites and APIs, WHO reports on the number of health workers in the state, Number of Hospital beds designated to Covid patients, Children(0-14) and Senior Citizens(60+) numbers, the Accessibility of states using National Highways lengths and connections in the state, etc.
                </p>
            </div>
        </div>
    </div>


{% endblock %}
