{% extends "base.html" %}

{% load static %}
{% static "images" as baseUrl %}

{% block content %}

    <div class="card mt-3 mb-5">

        <h5 class="py-4 mb-0" style="text-align: center; border-bottom: 1px solid rgba(255, 255, 255, 0.15);">
            Select Batch<br>
            <small>(Priority level of each state for vaccine delivery: Lower batch no. implies more urgency)</small>
        </h5>
        
        <div class="card-content" >
            <div class="row row-group m-0 d-flex">
                {% for number in top %}
                    {% if number == currentbatch %}
                        <div class="col py-3 align-items-center d-flex justify-content-center border-light" style="
                            color: #ffffff;
                            background: rgba(255, 255, 255, 0.15);
                            border-left-color: #ffffff;">
                            <a href="{% url 'batch' number %}"><h5 class="text-white">Batch {{number}}</h5></a>
                        </div>
                    {% else %}
                        <div class="col py-3 align-items-center d-flex justify-content-center  border-light">
                            <a href="{% url 'batch' number %}"><h5 class="text-white">Batch {{number}}</h5></a>
                        </div>
                    {% endif %}
                {%endfor%}
            </div>
        </div>
    </div>

    <div class="card mt-3 mb-5">
        <div class="table-responsive">
            {% if data %}
                {% for item in data %}
                    {% if forloop.first %}
                        <h5 class="mt-4 mb-4" style="text-align: center;">Batch {{ item.batch_no }}</h1>
                    {% endif %}
                {% endfor %}

                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>State</th>
                            <th style="text-align:right">Active</th>
                            <th style="text-align:right">Senior Citizens</th>
                            <th style="text-align:right">Children</th>
                            <th style="text-align:right">Health Workers %<br>of total H.Workers</th>
                            <th style="text-align:right">Population <br>Density (per sq km)</th>
                            <th style="text-align:right">Death Rate</th>
                            <!-- <th style="text-align:right">Accessibility</th> -->
                            <th style="text-align:right"><strong>Percentage</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data %}
                            <tr>
                                {% if item.state == 'Andaman and Nicobar Islands' %}
                                    <td style="column-width: 110px;"><a href="{% url 'district_level' item.state %}">Andaman and<br>Nicobar Islands</a></td>
                                {% elif item.state == 'Dadra and Nagar Haveli and Daman and Diu' %}
                                    <td style="column-width: 110px;"><a href="{% url 'district_level' item.state %}">Dadra and Nagar<br>Haveli and Daman<br> and Diu</a></td>
                                {% else %}
                                    <td style="column-width: 110px;"><a href="{% url 'district_level' item.state %}">{{ item.state }}</a></td>
                                {% endif %}
                                <td style="text-align:right">{{ item.active }}</td>
                                <td style="text-align:right">{{ item.senior_citizen }}</td>
                                <td style="text-align:right">{{ item.children }}</td>
                                <td style="text-align:right">{{item.all_health_workers_percent}}</td>
                                <td style="text-align:right">{{ item.population_2020 }}</td>
                                <td style="text-align:right">{{ item.death_rate | floatformat:2}}</td>
                                <!-- <td style="text-align:right">{{ item.accessibility }}</td> -->
                                <td style="text-align:right"><strong>{{ item.percentage_vaccine_delivery | floatformat:2 }}</strong></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}
