{% extends "vaccine_delivery/base.html" %}
{% load static %}
{% load humanize %}
{% static "images" as baseUrl %}


{% block content %}



<!-- Start wrapper-->
 <div id="wrapper">

 <div class="loader-wrapper"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
	<div class="card card-authentication1 mx-auto my-5">
		<div class="card-body">
		 <div class="card-content p-2">
		 	<!-- <div class="text-center">
		 		<img src="{% static 'images/logo.jpg' %}" alt="logo icon" style="width:20%;">
       </div> -->
       <div class="card-title text-uppercase text-center py-3" style="font-size:x-large;">Log in</div>
		  <!-- <div class="card-title text-uppercase text-center py-3">Log in</div> -->
		    <form>
			  <div class="form-group">
        <!-- <label for="exampleInputUsername" class="sr-only">Email</label> -->
        <label for="exampleInputUsername" class="mb-0 pb-0" style="font-size: x-small !important;">Email</label>
			   <div class="position-relative has-icon-right">
				  <input type="text" id="exampleInputUsername" class="form-control input-shadow" placeholder="Email">
				  <div class="form-control-position">
					  <i class="icon-user"></i>
				  </div>
			   </div>
			  </div>
			  <div class="form-group">
        <!-- <label for="exampleInputPassword" class="sr-only">Password</label> -->
        <label for="exampleInputPassword" class="mb-0 pb-0" style="font-size: x-small !important;">Password</label>
			   <div class="position-relative has-icon-right">
				  <input type="password" id="exampleInputPassword" class="form-control input-shadow" placeholder="Password">
				  <div class="form-control-position">
					  <i class="icon-lock"></i>
				  </div>
			   </div>
			  </div>
			<div class="form-row">
			 <!-- <div class="form-group col-6">
			   <div class="icheck-material-white">
                <input type="checkbox" id="user-checkbox" checked="" />
                <label for="user-checkbox">Remember me</label>
			  </div>
			 </div>
			 <div class="form-group col-6 text-right">
			  <a href="authentication-reset-password.html">Forgot Password?</a>
       </div> -->
       
       <div class="form-group col-6">
			  <a href="authentication-reset-password.html">Forgot Password?</a>
       </div>

      </div>
      

			 <button type="button" class="btn btn-light btn-block">Log in</button>
			  
			 
			 </form>
		   </div>
		  </div>
		  <div class="card-footer text-center py-3">
        <!-- <p class="text-warning mb-0">Don't have an account? <a href="accounts/signup.html"> Sign up</a></p> -->
        <p class="mb-0" style="color:rgb(160, 220, 243);">Don't have an account? <a href="{% url 'signup' %}"> Sign up</a></p>
		  </div>
	    </div>
  
{% endblock %}
	

<!-- https://stackoverflow.com/a/35752912/13962648 -->
{% block footer %}
{% endblock %}