{% extends "vaccine_delivery/base.html" %}
{% load static %}
{% load humanize %}
{% static "images" as baseUrl %}


{% block header %}
<!-- jquery steps CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'plugins/jquery.steps/css/jquery.steps.css' %}">
{% endblock %}

{% block content %}
{% load widget_tweaks %}

<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
    <div class="col-sm-9 py-2">

        <!-- <h4 class="page-title">District Health Administrator</h4> -->


        <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javaScript:void();">Dashtreme</a></li>
                <li class="breadcrumb-item"><a href="javaScript:void();">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol> -->
    </div>
</div>
<!-- End Breadcrumb-->


<!-- the below form submits 5 inputs from the admin state, district,age,category, number of users -->


<div class="row ">
    <div class="col-lg-4">

        <div class="card profile-card-2">
            <div class="card-img-block">
                <img class="img-fluid" src="{% static 'images/dashboard.jpg' %}" alt="image"
                    style="height: 110% !important;  width:100% !important">
            </div>

            <!-- <div class="card-header text-uppercase">Vaccinator details</div> -->

            <div class="card-body pt-4 pb-0">
                <!-- <img src="{% static 'images/profile2.png' %}" alt="profile-image" class="profile"> -->

                <h5 class="card-title pb-0 mb-0">Registrar name: {{name}}</h5>
                <!-- <h5 class="card-title py-0 my-0">Email: {{email}}</h5>
                    <h5 class="card-title py-0 my-0">State: {{user.state}}</h5>
                    <h5 class="card-title pt-0 mt-0">District: {{user.district}}</h5> -->

                {% if user %}
                    <h5 class="card-title pt-0 mt-0">District: {{user.district}}</h5>
                {% else %}
                    <h5 class="card-title pt-0 mt-0">District:</h5>
                {% endif %}
                



            </div>

            <!-- <div class="card-body border-top border-light">
                    <div class="media align-items-center">
                    </div>
                </div> -->
        </div>


        <!-- <div class="card mt-3">
                <div class="card-content">
                    <div class="row row-group m-0">
                        <div class="col-lg-12 border-light">
                            <div class="card-body">
                            <p class="mb-0 text-white small-font">Total Beneficiaries Vaccinated </p>
                              <h5 class="text-white mb-0">5 <span class="float-right"></span></h5>
                            </div>
                        </div>
                        <hr>
                        <div class="col-lg-12 border-light">
                            <div class="card-body">
                                <p class="mb-0 text-white small-font">Total Sessions Conducted</p>
                              <h5 class="text-white mb-0">2 <span class="float-right"></span></h5>

                            </div>
                        </div>
                        
                    </div>
                </div>
              </div>   -->


        <!-- <div class="card">
                <div class="card-content">
                    <div class="row row-group m-0">
                        <div class="col-12 border-light ">

                            <div class="card-body py-0">
                                <div class="form-group row py-4">
                                    <div class="col-sm-12">
                                        <h5 class="card-title pb-0 mb-2 mt-0">Today's vaccination details</h5>
                                            <h5 class="card-title pb-0 mb-0 mt-0">●&emsp;Done: 2</h5>
                                            <h5 class="card-title pb-0 mb-0 mt-0">●&emsp;Total: 5</h5>
                                        <hr>
                                    </div>
                                    <div class="col-sm-12">
                                        <h5 class="card-title pb-0 mb-0 mt-2">Total Vaccinated till date: 7</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->


        <div class="card">
            <div class="card-header text-uppercase">Recent Registrations</div>
            <!-- <div class="card-body" style="display: flex; justify-content:center"> -->
            <div class="card-body">
                {% if users %}
                    {% for user in users %}
                        <h5>{{user.first_name}} {{user.last_name}}</h5>
                        <small>{{user.date_joined}}</small>
                        <hr>
                    {% endfor %}
                {% endif %}
            </div>
        </div>


    </div>



    <div class="col-lg-8">

        <!-- End Breadcrumb-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header text-uppercase">
                        User Registration Form  
                    </div>
                    <div class="card-body">
                        <form id="wizard-validation-form" action="{% url 'registrar' %}" method="post">
                        {% csrf_token %}
                            <div>
                                <h3>Profile</h3>
                                <section class="pt-5 pb-0 mb-0">
                                    <!-- <div class="form-group row pl-4">
                                        <label for="input-25" class="col-sm-3 col-form-label">Name</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" id="input-25" name="fullname" placeholder="Name" required/>
                                        </div>
                                      </div> -->
                                      <div class="form-group row pl-4">
                                        <label for="exampleInputName" class="col-sm-3 col-form-label">Name</label>
                                        <div class="col-sm-9">
                                            {% render_field form.fullname type="text" id="exampleInputName" class="form-control input-shadow" placeholder="Name" required="required" %}
                                            <div class="form-control-position">
                                                <i class="icon-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row pl-4 ">
                                        <label for="email" class="col-sm-3 col-form-label">Email ID</label>
                                        <!-- <label for="exampleInputEmailId" class="sr-only">Email ID</label> -->
                                        <div class="col-sm-9">
                                            {% render_field form.email type="email" id="email" class="form-control input-shadow" placeholder="Email ID" required="required" %}
                                            <div class="form-control-position">
                                                <i class="icon-envelope-open"></i>
                                            </div>
                                        </div>
                                    </div>
                                    {% render_field form.password1 type="hidden" value='Registrar@123' class="form-control input-shadow" placeholder="Email ID" required="required" %}
                                    {% render_field form.password2 type="hidden" value='Registrar@123' class="form-control input-shadow" placeholder="Email ID" required="required" %}
                                      <!-- <div class="form-group row pl-4">
                                        <label for="input-25" class="col-sm-3 col-form-label">Email</label>
                                        <div class="col-sm-9">
                                          <input type="email" class="form-control" id="input-25" name="email" placeholder="Email" required/>
                                        </div>
                                      </div> -->
                                      <!-- <div class="form-group row pl-4">
                                        <label for="input-24" class="col-sm-3 col-form-label">Mobile No.</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" id="input-24" name="mobile" placeholder="Mobile Number"
                                            maxlength="10" required pattern="\S+.*" />
                                        </div>
                                      </div> -->
                                    <div class="form-group row pl-4">
                                        <label for="input-25" class="col-sm-3 col-form-label">Aadhaar No.</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" id="input-25" name="adhaar" placeholder="Aadhaar Number" required
                                            pattern="\S+.*" maxlength="16" />
                                        </div>
                                    </div>
                                      <div class="form-group row pl-4">
                                        <label for="input-24" class="col-sm-3 col-form-label">Mobile No.</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" id="input-24" name="mobile" placeholder="Mobile Number"
                                            maxlength="10" required pattern="\S+.*" />
                                        </div>
                                      </div>
                                      <div class="form-group row pl-4">
                                        <label for="input-21" class="col-sm-3 col-form-label">Age</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" id="input-21" name="dob" placeholder="Age" maxlength="3" required
                                            pattern="\S+.*" />
                                        </div>
                                      </div>
                                      <div class="form-group row pl-4">
                                        <label for="input-20" class="col-sm-3 col-form-label">Gender</label>
                                        <div class="col-sm-9">
                                          <select class="form-control single-select" name="gender">
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Other">Other</option>
                                          </select>
                                        </div>
                                      </div>
                                    <!-- <div class="form-group">
                                        <label for="userName">Name</label>
                                        <input class="form-control" type="text" id="userName">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" class="form-control" id="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="adhaar">Aadhaar No.</label>
                                        <input type="text" class="form-control" id="adhaar">
                                    </div>
                                    <div class="form-group">
                                        <label for="mobile">Mobile No.</label>
                                        <input type="text" class="form-control" id="mobile">
                                    </div>
                                    <div class="form-group">
                                        <label for="age">Age</label>
                                        <input type="text" class="form-control" id="age">
                                    </div>
                                    <div class="form-group">
                                        <label for="gender">Gender</label>
                                        <input type="text" class="form-control" id="gender">
                                    </div> -->
                                </section>
                                <h3>Basic Details</h3>
                                <section>
                                    <div class="form-group row">
                                        <label for="input-27" class="col-sm-3 col-form-label">State</label>
                                        <div class="col-sm-9">
                                          <select class="form-control single-select" name="state">
                                            {% if states %}
                                            {% for state in states %}
                                            <option value="{{state.state}}">{{state.state}}</option>
                                            {% endfor %}
                                            {% endif %}
                                          </select>
                                          <!-- <select class="form-control single-select">
                                                  <option>India</option>
                                                  <option>England</option>
                                                  <option>America</option>
                                                  <option>China</option>
                                                  <option>Australiya</option>
                                                  <option>Newzeland</option>
                                                  <option>Dubai</option>
                                                  <option>United Kingdom</option>
                                                </select> -->
                                        </div>

                                        <!-- <div class="col-sm-10">
                                                <input type="text" class="form-control" id="input-21" placeholder="State">
                                              </div> -->
                                      </div>
                                      <div class="form-group row">
                                        <label for="input-23" class="col-sm-3 col-form-label">District</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" id="input-23" name="district" placeholder="District" required
                                            pattern="\S+.*" />
                                        </div>
                                      </div>
                                      <div class="form-group row">
                                        <label for="input-22" class="col-sm-3 col-form-label">Pincode</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" id="input-22" name="pincode" placeholder="Pincode" maxlength="6"
                                            required pattern="\S+.*" />
                                        </div>
                                      </div>
                                      
                                      <div class="form-group row">
                                        <label for="input-28" class="col-sm-3 col-form-label">Occupation</label>
                                        <div class="col-sm-9">
                                          <select class="form-control single-select" name="occupation">
                                            <option value="H">Doctors / Nurse and HealthCare Personnel Cleaners Workers</option>
                                            <option value="EPS">Emergency/Law Enforcement/ Public Cleanliness and Transit Workers</option>
                                            <option value="FAS">Agriculture, Forestry and Fishing</option>
                                            <option value="TP">Education - Teachers/ Proffessors</option>
                                            <option value="GS">Grocery Stores and Essentials</option>
                                            <option value="IM">Industry/Manufacturer</option>
                                            <option value="C">Construction/Real Estate</option>
                                            <option value="TSL">Transport/Storage/Logistics</option>
                                            <option value="FH">Food and Hospitality Services</option>
                                            <option value="RB">Trade/Retailers/ Businesses</option>
                                            <option value="DHC">Domestic Cleaners and Personal Services</option>
                                            <option value="OS">Other Services/Occupations</option>
                                            <option value="U">Currently Unemployed/Menial</option>
                                            <option value="NA">Not Applicable</option>
                                          </select>
                                        </div>
                                      </div>
                                      <div class="form-group row">
                                        <label for="input-30" class="col-sm-3 col-form-label">Income</label>
                                        <div class="col-sm-9">
                                          <select class="form-control single-select" name="income">
                                            <option value=1>Upto 1 Lakh per annum </option>
                                            <option value=2>1 Lakh to 5 Lakhs</option>
                                            <option value=3>Above 5 Lakhs</option>
                                          </select>
                                        </div>
                                      </div>
                                      <div class="form-group row">
                                        <label for="input-29" class="col-sm-3 col-form-label">Currently Working</label>
                                        <div class="col-sm-9">
                                          <select class="form-control single-select" name="work_status">
                                            <option value=2>Remote(From Home)</option>
                                            <option value=1>Non Remote(On Field)</option>
                                          </select>
                                        </div>
                                      </div>
                                      

                                    <!-- <div class="form-group">
                                        <label> State</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label> District</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Pincode</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Occupation</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Currently Working</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Income</label>
                                        <input type="text" class="form-control">
                                    </div> -->
                                </section>
                                <h3>Medical History</h3>
                                <section>
                                    <div class="card-body">
                                        <div class="card-title">Mark the health issues you have ever had:</div>
                                        <hr>

                                        <!-- <div class="pb-3">Have you ever had any of the following?</div> -->
                                        <!-- <div class="pb-4 pt-2">Mark the health issues you have ever had:</div> -->
                                        <!-- <div class="pb-3">Mark the health issues you have ever had:</div> -->

                                        <div class="row">
                                            <div class="col-6 mb-4">
                                                <div class="form-group row">
                                                    <label for="input-26"
                                                        class="col-sm-8 col-form-label">Covid-19</label>
                                                    <div class="col-sm-4">

                                                        <div class="icheck-material-white">
                                                            <!-- <input type="checkbox" id="user-checkbox6" checked=""/> -->
                                                            <input type="checkbox" id="user-checkbox1" name="covid"
                                                                value=0 />
                                                            <label for="user-checkbox1"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-18"
                                                        class="col-sm-8 col-form-label">Diabetes</label>
                                                    <div class="col-sm-4">

                                                        <div class="icheck-material-white">
                                                            <input type="checkbox" id="user-checkbox2" name="diabetes"
                                                                value=1 />
                                                            <!-- <label for="user-checkbox1">Remember me</label> -->
                                                            <label for="user-checkbox2"></label>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-17"
                                                        class="col-sm-8 col-form-label">Hypertension</label>
                                                    <div class="col-sm-4">

                                                        <div class="icheck-material-white">
                                                            <input type="checkbox" id="user-checkbox3" name="hbp_hyt"
                                                                value=1 />
                                                            <!-- <label for="user-checkbox2">Remember me</label> -->
                                                            <label for="user-checkbox3"></label>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-16" class="col-sm-8 col-form-label">Lung
                                                        Disease</label>
                                                    <div class="col-sm-4">

                                                        <div class="icheck-material-white">
                                                            <input type="checkbox" id="user-checkbox4"
                                                                name="respiratory" value=1 />
                                                            <!-- <label for="user-checkbox3">Remember me</label> -->
                                                            <label for="user-checkbox4"></label>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-15" class="col-sm-8 col-form-label">Heart
                                                        Disease</label>
                                                    <div class="col-sm-4">

                                                        <div class="icheck-material-white">
                                                            <input type="checkbox" id="user-checkbox5" name="chd"
                                                                value=1 />
                                                            <!-- <label for="user-checkbox4">Remember me</label> -->
                                                            <label for="user-checkbox5"></label>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-14" class="col-sm-8 col-form-label">Liver
                                                        Disorder</label>
                                                    <div class="col-sm-4">

                                                        <div class="icheck-material-white">
                                                            <input type="checkbox" id="user-checkbox6"
                                                                name="liver_disease" value=1 />
                                                            <!-- <label for="user-checkbox5">Remember me</label> -->
                                                            <label for="user-checkbox6"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-13" class="col-sm-8 col-form-label">Reduced kidney
                                                        function</label>
                                                    <div class="col-sm-4">

                                                        <div class="icheck-material-white">
                                                            <input type="checkbox" id="user-checkbox7"
                                                                name="reduced_kidney" value=1 />
                                                            <!-- <label for="user-checkbox5">Remember me</label> -->
                                                            <label for="user-checkbox7"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-12" class="col-sm-8 col-form-label">None of the
                                                        above</label>
                                                    <div class="col-sm-4">

                                                        <div class="icheck-material-white">
                                                            <input type="checkbox" id="user-checkbox15" name="none"
                                                                value=0 />
                                                            <!-- <label for="user-checkbox5">Remember me</label> -->
                                                            <label for="user-checkbox15"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-6">
                                                <div class="form-group row">
                                                    <label for="input-11" class="col-sm-8 col-form-label">Kidney
                                                        dialysis</label>
                                                    <div class="col-sm-4">

                                                        <div class="icheck-material-white">
                                                            <input type="checkbox" id="user-checkbox8"
                                                                name="kidney_dialysis" value=1 />
                                                            <!-- <label for="user-checkbox6">Remember me</label> -->
                                                            <label for="user-checkbox8"></label>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-10"
                                                        class="col-sm-8 col-form-label">Smoking</label>
                                                    <div class="col-sm-4">

                                                        <div class="icheck-material-white">
                                                            <input type="checkbox" id="user-checkbox9" name="smoker"
                                                                value=1 />
                                                            <!-- <label for="user-checkbox1">Remember me</label> -->
                                                            <label for="user-checkbox9"></label>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-9" class="col-sm-8 col-form-label">Stroke or
                                                        dementia</label>
                                                    <div class="col-sm-4">

                                                        <div class="icheck-material-white">
                                                            <input type="checkbox" id="user-checkbox10"
                                                                name="strk_dmtia" value=1 />
                                                            <!-- <label for="user-checkbox2">Remember me</label> -->
                                                            <label for="user-checkbox10"></label>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-8" class="col-sm-8 col-form-label">Cancer
                                                        (non-haematological)</label>
                                                    <div class="col-sm-4">

                                                        <div class="icheck-material-white">
                                                            <input type="checkbox" id="user-checkbox11"
                                                                name="cancer_non" value=1 />
                                                            <!-- <label for="user-checkbox3">Remember me</label> -->
                                                            <label for="user-checkbox11"></label>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-7" class="col-sm-8 col-form-label">Haematological
                                                        malignancy</label>
                                                    <div class="col-sm-4">

                                                        <div class="icheck-material-white">
                                                            <input type="checkbox" id="user-checkbox12" name="hmt"
                                                                value=1 />
                                                            <!-- <label for="user-checkbox4">Remember me</label> -->
                                                            <label for="user-checkbox12"></label>
                                                        </div>

                                                    </div>
                                                </div>
                                                
                                                <div class="form-group row">
                                                    <label for="input-6" class="col-sm-8 col-form-label">Other
                                                        Neurological disease</label>
                                                    <div class="col-sm-4">

                                                        <div class="icheck-material-white">
                                                            <input type="checkbox" id="user-checkbox13"
                                                                name="other_neuro" value=1 />
                                                            <!-- <label for="user-checkbox5">Remember me</label> -->
                                                            <label for="user-checkbox13"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-5" class="col-sm-8 col-form-label">Organ
                                                        transplant</label>
                                                    <div class="col-sm-4">

                                                        <div class="icheck-material-white">
                                                            <input type="checkbox" id="user-checkbox14"
                                                                name="organ_transplant" value=1 />
                                                            <!-- <label for="user-checkbox5">Remember me</label> -->
                                                            <label for="user-checkbox14"></label>
                                                        </div>
                                                    </div>
                                                </div>

                                                
                                            </div>

                                        </div>
                                    </div>

                                    

                                </section>
                                
                            </div>

                            
                            <!-- <button type="submit"  class="btn btn-white btn-lg btn-block waves-effect waves-light">Submit
                            </button>  -->
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- End Row-->

    </div>
</div>


<!--Form Wizard-->
<script src="{% static 'plugins/jquery.steps/js/jquery.steps.min.js' %}"></script>
<script src="{% static 'plugins/jquery-validation/js/jquery.validate.min.js' %}"></script>
<!--wizard initialization-->
<script src="{% static 'plugins/jquery.steps/js/jquery.wizard-init.js' %}"></script>


<script>
    if (currentIndex === 2) { //if last step
        //remove default #finish button
        $('#basic-form').find('a[href$="#finish"]').remove(); 
        //append a submit type button
        $('#basic-form .actions li:last-child').append('<button type="submit" id="submit" class="btn-large"><span class="fa fa-chevron-right"></span></button>');
     }
</script>


{% endblock %}