{% extends "vaccine_delivery/base.html" %}
{% load static %}
{% load humanize %}
{% static "images" as baseUrl %}


{% block content %}
{% load widget_tweaks %}

<!-- Start wrapper-->
<div id="wrapper">

	<div class="card card-authentication1 mx-auto my-4">
		<div class="card-body">
			<div class="card-content p-2">
				<!-- <div class="text-center">
					<img src="{% static 'images/logo.jpg' %}" alt="logo icon" style="width:20%;">
				</div> -->
				<div class="card-title text-uppercase text-center py-3" style="font-size:x-large;">Sign up</div>
				<!-- <div class="card-title text-uppercase text-center py-3">Log in</div> -->
				<form method="POST" action="{% url 'signup' %}">
					{% csrf_token %}

					<div class="form-group">
						<label for="exampleInputEmailId" class="sr-only">Email ID</label>
						<div class="position-relative has-icon-right">
							{% render_field form.email type="email" id="exampleInputEmailId" class="form-control input-shadow" placeholder="Email ID" required="required" %}
							<div class="form-control-position">
								<i class="icon-envelope-open"></i>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="exampleInputName" class="sr-only">Name</label>
						<div class="position-relative has-icon-right">
							{% render_field form.fullname type="text" id="exampleInputName" class="form-control input-shadow" placeholder="Name" required="required" %}
							<div class="form-control-position">
								<i class="icon-user"></i>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword" class="sr-only">Password</label>
						<div class="position-relative has-icon-right">
							{% render_field form.password1 type="password" id="exampleInputPassword" class="form-control input-shadow" placeholder="Password" required="required" %}
							<div class="form-control-position">
								<i class="icon-lock"></i>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword" class="sr-only">Confirm Password</label>
						<div class="position-relative has-icon-right">
							{% render_field form.password2 type="password" id="exampleInputPassword" class="form-control input-shadow" placeholder="Confirm Password" required="required" %}
						<div class="form-control-position">
							<i class="icon-lock"></i>
						</div>
						</div>
					</div>
					
					
					<button type="submit" class="btn btn-light btn-block waves-effect waves-light mt-5">Sign Up</button>
					<button type="submit" class="btn btn-light btn-block waves-effect waves-light mt-5" name='admin' value = 'True'>Sign Up as Health Admin</button>

				</form>
			</div>
		</div>

		<div class="card-footer text-center py-3">
			<p class="mb-0" style="color:rgb(160, 220, 243);">Already have an account? <a href="{% url 'login' %}"> Log in</a></p>
		</div>

		<div class="mx-2">
			{% if messages %}
				{% for message in messages %}

				<!-- <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert" style="padding-left: 40px; background-position: 15px 12px;"> -->
					<div class="alert bg-dark alert-dismissible fade show" role="alert" style="padding-left: 40px; background-position: 15px 12px;">
					<strong>
						{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
							Error:
						{% else %}
							{{message.tags | title}}:
						{% endif %}
					</strong>

					{{ message }}
					
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				{% endfor %}
			{% endif %}
		</div>

	</div>
</div>
    
{% endblock %}


<!-- https://stackoverflow.com/a/35752912/13962648 -->
{% block footer %}
{% endblock %}