{% extends "vaccine_delivery/base.html" %}
{% load static %}
{% load humanize %}
{% static "images" as baseUrl %}

{% block content %}


    <!-- Breadcrumb-->
     <div class="row pt-2 pb-2 text-center">
        <!-- <div class="col-sm-9"> -->
          <div class="col-sm-12">
        <!-- <h4 class="page-title">Vaccine Registration Form</h4> -->
		    <h3>Vaccine Registration Form</h3>
		    <!-- <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javaScript:void();">Dashtreme</a></li>
            <li class="breadcrumb-item"><a href="javaScript:void();">Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Form Layouts</li>
         </ol> -->
	   </div>
     </div>
    <!-- End Breadcrumb-->


		  <div class="row">
			<div class="col-lg-12">
			   
			   <div class="card">
			     <div class="card-body">
				   <div class="card-title">Basic Details</div>
				   <hr>
				    <form>
					 <div class="form-group row">
					  <label for="input-21" class="col-sm-2 col-form-label">State</label>
					  <div class="col-sm-10">
						<input type="text" class="form-control" id="input-21" placeholder="State">
					  </div>
					</div>
					<div class="form-group row">
					  <label for="input-22" class="col-sm-2 col-form-label">District</label>
					  <div class="col-sm-10">
						<input type="text" class="form-control" id="input-22" placeholder="District">
					  </div>
					</div>
					  <div class="form-group row">
						<label for="input-23" class="col-sm-2 col-form-label">Age</label>
						<div class="col-sm-10">
						<input type="text" class="form-control" id="input-23" placeholder="Age">
						</div>
					  </div>
					<div class="form-group row">
					  <label for="input-24" class="col-sm-2 col-form-label">Gender</label>
					  <div class="col-sm-10">
						<input type="text" class="form-control" id="input-24" placeholder="Gender">
					  </div>
					</div>
					  <div class="form-group row">
						<label for="input-25" class="col-sm-2 col-form-label">Mobile No.</label>
						<div class="col-sm-10">
						<input type="text" class="form-control" id="input-25" placeholder="Mobile No.">
						</div>
					  </div>
					<!-- <div class="form-group row">
					  <label class="col-sm-2 col-form-label"></label>
					  <div class="col-sm-10">
						<div class="icheck-material-white">
						<input type="checkbox" id="user-checkbox5" checked=""/>
						<label for="user-checkbox5">Remember me</label>
					  </div>
					  </div>
					</div> -->
					 <!-- <div class="form-group row">
					  <label class="col-sm-2 col-form-label"></label>
					  <div class="col-sm-10">
						<button type="submit" class="btn btn-white px-5"><i class="icon-lock"></i> Register</button>
					  </div>
					</div> -->
					</form>
				 </div>
			 </div>


       <div class="card">
        <div class="card-body">
        <div class="card-title">Medical History</div>
        <hr>

         <div class="pb-3">Have you ever had any of the following?</div>

         <form>
            <div class="form-group row">
              <label for="input-26" class="col-sm-2 col-form-label">Diabetes</label>
              <div class="col-sm-10">

                  <div class="icheck-material-white">
                  <input type="checkbox" id="user-checkbox1" checked=""/>
                  <!-- <label for="user-checkbox1">Remember me</label> -->
                  <label for="user-checkbox1"></label>
                  </div>

              </div>
            </div>
            <div class="form-group row">
              <label for="input-26" class="col-sm-2 col-form-label">Hypertension</label>
              <div class="col-sm-10">

                <div class="icheck-material-white">
                <input type="checkbox" id="user-checkbox2" checked=""/>
                <!-- <label for="user-checkbox2">Remember me</label> -->
                <label for="user-checkbox2"></label>
                </div>
                
              </div>
            </div>
            <div class="form-group row">
              <label for="input-26" class="col-sm-2 col-form-label">Lung Disease</label>
              <div class="col-sm-10">

                <div class="icheck-material-white">
                <input type="checkbox" id="user-checkbox3" checked=""/>
                <!-- <label for="user-checkbox3">Remember me</label> -->
                <label for="user-checkbox3"></label>
                </div>
                
              </div>
            </div>
            <div class="form-group row">
              <label for="input-26" class="col-sm-2 col-form-label">Heart Disease</label>
              <div class="col-sm-10">

                <div class="icheck-material-white">
                <input type="checkbox" id="user-checkbox4" checked=""/>
                <!-- <label for="user-checkbox4">Remember me</label> -->
                <label for="user-checkbox4"></label>
                </div>
                
              </div>
            </div>
            <div class="form-group row">
              <label for="input-26" class="col-sm-2 col-form-label">Kidney Disorder</label>
              <div class="col-sm-10">

                <div class="icheck-material-white">
                <input type="checkbox" id="user-checkbox5" checked=""/>
                <!-- <label for="user-checkbox5">Remember me</label> -->
                <label for="user-checkbox5"></label>
                </div>
                
              </div>
            </div>
            <div class="form-group row">
              <label for="input-26" class="col-sm-2 col-form-label">Covid-19</label>
              <div class="col-sm-10">

                <div class="icheck-material-white">
                <input type="checkbox" id="user-checkbox6" checked=""/>
                <!-- <label for="user-checkbox6">Remember me</label> -->
                <label for="user-checkbox6"></label>
                </div>
                
              </div>
            </div>


        </form>
        </div>
      </div>

      <!-- <div class="form-group">
        <button type="submit" class="btn btn-light px-5"><i class="icon-lock"></i> Submit</button>
      </div> -->
      <div class="form-group">
        <button type="submit" class="btn btn-white px-5"><i class="icon-lock"></i> Submit</button>
      </div>


			</div>
		  </div><!--End Row-->

      

{% endblock %}


<!-- https://stackoverflow.com/a/35752912/13962648 -->
{% block footer %}
{% endblock %}
