{% extends "vaccine_delivery/base.html" %}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}

    <div class="table-responsive">
        {% if data %}

            {% for item in data %}
                {% if forloop.first %}
                    <h1 class="my-5" style="text-align: center;">{{ item.state }}</h1>
                {% endif %}
            {% endfor %}

            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>District</th>
                        <th style="text-align:right">Active</th>
                        <th style="text-align:right">Population</th>
                        <th style="text-align:right">Batch No.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{ item.district }}</td>
                            <td style="text-align:right">{{ item.active }}</td>
                            <td style="text-align:right">{{ item.population_2020 }}</td>
                            <td style="text-align:right">{{ item.batch_no }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

    
    <p><span style="color: skyblue">Note:</span> Some states have partial or no (Assam and Manipur) district level analysis since their Covid data has not been displayed in the official state website’s bulletin.</p>
            

{% endblock %}