<!--Start footer-->
<footer class="footer">
    <div class="container">
      <div class="text-center">
        Copyright © 2021 Team TechHD &emsp;
        <div id="content-mobile"></div>
        <strong><a target="_blank" href="https://github.com/yogeshiitm/TechHD"><i class="fab fa-github"></i></a></strong>&emsp;
        <strong><a target="_blank" href="https://drive.google.com/drive/folders/1MxQ8c2Su2RbiA82VvIu6WMBONd-L8vy4?usp=sharing"><i class="fas fa-database"></i></a></strong>&emsp;
        <strong><a target="_blank" href="mailto:techhd.iitm@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></strong>
      </div> 
    </div>
  </footer>
<!--End footer-->