<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src="{% static 'js/js_file.js' %}"></script>
        <script type="text/javascript">

        google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyDZSStw39I8ef15n_EjFptPS_6H8Rw381g'
        });
        google.charts.setOnLoadCallback(drawMarkersMap);

        function drawMarkersMap() {
            $.get("{% static '/files/active_map.csv' %}", function(csvString) {
                // transform the CSV string into a 2-dimensional array
                var arrayData = $.csv.toArrays(csvString, {onParseValue: $.csv.hooks.castToScalar});
                var data = google.visualization.arrayToDataTable(arrayData);

                var options = {
                    
                    region: 'IN', // India
                    resolution: 'provinces',
                    colorAxis: {colors: ['yellow', 'red', 'blue']},
                    backgroundColor: '#81d4fa',
                    datalessRegionColor: '#f8bbd0',
                    defaultColor: '#f5f5f5',
                };

                var chart = new google.visualization.GeoChart(document.getElementById('active_map'));
                chart.draw(data, options);
            });
        };
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src="{% static 'js/js_file.js' %}"></script>
        <script type="text/javascript">

        google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyDZSStw39I8ef15n_EjFptPS_6H8Rw381g'
        });
        google.charts.setOnLoadCallback(drawMarkersMap);

        function drawMarkersMap() {
            $.get("{% static '/files/batch_map.csv' %}", function(csvString) {
                // transform the CSV string into a 2-dimensional array
                var arrayData = $.csv.toArrays(csvString, {onParseValue: $.csv.hooks.castToScalar});
                var data = google.visualization.arrayToDataTable(arrayData);

                var options = {
                    
                    region: 'IN', // India
                    resolution: 'provinces',
                    colorAxis: {colors: ['yellow', 'red', 'blue']},
                    backgroundColor: '#81d4fa',
                    datalessRegionColor: '#f8bbd0',
                    defaultColor: '#f5f5f5',
                };

                var chart = new google.visualization.GeoChart(document.getElementById('batch-map'));
                chart.draw(data, options);
            });
        };
        </script>
    </head>
    <body>
        <div id="batch-map" style="width: 900px; height: 500px;"></div>
    </body>
</html>